<!DOCTYPE html>
<html lang="en">
    <html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Contraseña</title>
    <link rel="stylesheet" th:href="@{/css/fragmentStyle.css}"/>
    <link rel="stylesheet" th:href="@{/css/formStyle.css}"/>
</head>
 
<body>
    <div th:insert="fragments :: temporalNav"></div>
    <br>
    <form class="prof" th:action="@{'/Professional/PasswordChanged/'+${idPatient}}" method="post">
        <label>Nueva contraseña:</label>
        <input type="text" name="password" required maxlength="255">
        <br>
        <br>
        <!-- <label>Descripcion:</label>
        <input type="text" th:field="*{description}" maxlength="255">
        <br>
        <br> -->
        <input class="sub" type="submit" value="Enviar">
    </form>
</body>
</html>