<!DOCTYPE html>
<html lang="en">
    <html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu del Paciente</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/fragmentStyle.css}"/>
    <link rel="stylesheet" th:href="@{/css/tableStyle.css}"/>
    <script th:src="@{/js/jquery-3.5.1.js}" ></script>
    <script th:src="@{/js/taskFilter.js}"></script>
</head>
<body>
    <div th:insert="fragments :: temporalNav"></div>
    <div th:insert="fragments :: userTaskNav"></div>

    <div th:each="task : ${list}" th:class="'task C'+${task.checked}+'D'+${today.isAfter(task.dateDay) or (today.isEqual(task.dateDay) and now.isAfter(task.taskTime))}">
        <div th:class="left">
            <h2 th:text="${task.taskName}" ></h2>
            <p>
                <span th:if="${task.address} != null" th:text="${task.address}+' - '"></span>
                <span th:text="${task.description}"></span>
            </p>
            <a th:href="@{'/Patient/TaskCompleted/'+${task.id}}" class="btn btn-info">Completada</a>
            <a th:href="@{'/Patient/Delete/'+${task.id}}" class="btn btn-info">Eliminar</a>
        </div>
        <div th:class="right">
            <h3 th:text="${task.dateDay}"></h3>
            <h3 th:text="${task.taskTime}"></h3>
        </div>
    </div>
</body>
</html>