<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rutinas</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/fragmentStyle.css}"/>
</head>
<body>
    <div th:insert="fragments :: temporalNav"></div>
    <div th:insert="fragments :: profUserNav"></div>  
    <table class="table table-striped table-info">
        <thead class="table-dark">
            <td>ID</td>
            <td>Nombre</td>
            <td>Hora</td>
            <td>Actualizado por ultima vez</td>
            <td>Repetir</td>
            <td>Dias de la Semana</td>
            <td>Eliminar</td>
            <td>Repetir/No Repetir</td>
        </thead>
        <tr th:each="task : ${list}">
            <td th:text="${task.id}"></td>
            <td th:text="${task.taskName}"></td>
            <td th:text="${task.taskTime}"></td>
            <td th:text="${task.lastUpdated}"></td>
            <td th:text="${task.toRepeat} ? 'Si' : 'No'"></td>
            <td th:text="${task.weekDaysDisplay()}"></td>
            <td><a th:href="@{'/Professional/'+${idP}+'/DeleteTask/'+${task.id}}" class="btn btn-info">Eliminar</a></td>
            <td><a th:href="@{'/Professional/'+${idP}+'/SwitchRepeat/'+${task.id}}"  class="btn btn-info">Repetir/No Repetir</a></td>
        </tr>
    </table>
</body>
</html>