<!DOCTYPE html>
<html lang="en">
    <html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creacion de una Tarea</title>
    <link rel="stylesheet" th:href="@{/css/fragmentStyle.css}"/>
    <link rel="stylesheet" th:href="@{/css/formStyle.css}"/>
</head>
 
<body>
    <div th:insert="fragments :: temporalNav"></div>
    <div th:insert="fragments :: userNav"></div>
    <br>
    <form class="prof" th:action="@{/Patient/taskCreated}" th:object="${particularTask}" method="post">
        <p th:if="${error}">La fecha y/o hora de las tareas ya han ocurrido</p>
        <label>Nombre de la tarea:</label>
        <input type="text" th:field="*{taskName}" required maxlength="255">
        <br>
        <br>
        <label>Descripcion:</label>
        <input type="text" th:field="*{description}" maxlength="255">
        <br>
        <br>
        <label>Direccion:</label>
        <input type="text" th:field="*{address}" maxlength="255">
        <br>
        <br>
        <label>Fecha:</label>
        <input type="date" th:field="*{dateDay}" required>
        <br>
        <br>
        <label>Hora:</label>
        <input type="time" th:field="*{taskTime}" required>
        <br>
        <br>
        <input class="sub" type="submit" value="Enviar">
    </form>
</body>
</html>